/* TODO: Setup body */
body {
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

/* Example of importing a font */
@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}